@import "../aboutUs/mobile.css";

:root {
    --primary-color: #373981;
    --secondary-color: #0CA89E;
    --tertiary-color: #085C57;

    --yellowMine: #FBFFD0;
    --orangeUrban: #FFC9B0;
    --blueWater: #B0E0FF;
    --greenCrop: #B0FFC9;
    --justWhite: #FFFFFF;

    /* fonts size */

    --font-size-xxs: 1.2rem;
    --font-size-xs: 1.4rem;
    --font-size-s: 1.6rem;
    --font-size-m: 1.8rem;
    --font-size-l: 2rem;
    --font-size-xl: 2.2rem;
    --font-size-xxl: 2.4rem;

    --font-title-size: 3.2rem;
    --font-subtitle-size: 2.4rem;
    --font-content-size: 1.6rem;

    /* random */

    --edge-components-margin: 90px
}

* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
    
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#inactive {
    display: none;
}

.inactive { display: none; }

body {
    font-family: 'Montserrat', sans-serif;
}

/* content */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--justWhite);
}

.main__firstHalf {
    height: 20vh;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    height: auto;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url(http://sitehasa.solemti.net/files/Nosotros/1/Galeria/equipo-sitehasa-723.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner span {
    font-size: 70px;
    color: var(--secondary-color);
}

.banner h1 {
    font-size: 3.6rem;
    text-align: center;
    color: var(--justWhite);
    font-variant: small-caps;
}

.banner p {
    font-size: 1.4rem;
    text-align: justify;
    margin: 25px;
    color: var(--justWhite);
}