:root {
    --primary-color: #373981;
    --secondary-color: #0CA89E;
    --tertiary-color: #085C57;

    --yellowMine: #FBFFD0;
    --orangeUrban: #FFC9B0;
    --blueWater: #B0E0FF;
    --greenCrop: #B0FFC9;
    --justWhite: #FFFFFF;

    /* fonts size */

    --font-size-xxs: 1.2rem;
    --font-size-xs: 1.4rem;
    --font-size-s: 1.6rem;
    --font-size-m: 1.8rem;
    --font-size-l: 2rem;
    --font-size-xl: 2.2rem;
    --font-size-xxl: 2.4rem;

    --font-title-size: 3.2rem;
    --font-subtitle-size: 2.4rem;
    --font-content-size: 1.6rem;

    /* random */

    --edge-components-margin: 90px;
    --a-hover-fcolor: #0CA89E;
    --a-hover-scolor: #fff;
}

* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
    
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#inactive {
    display: none;
}

.inactive { display: none; }

body {
    font-family: 'Montserrat', sans-serif;
}

/* mobile stuff to set innactive */

.nav__mobile {
    display: none;
}

.mobile__menu {
    display: none;
}

.nav__desktop {
    display: flex;
    justify-content: flex-start;
    height: 60px;
}

.navLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100%;
    padding-left: 40px;
}

.navLogo img {
    height: 70%;
    width: auto;
}

.navLogo .logo__light {
    display: none;
}

.nav-desktop__categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 0 20px;
}

.categories__element {
    text-decoration: none;
    color: var(--justWhite);
    font-size: var(--font-content-size);
    font-weight: 600;
    padding: 0 10px;
    overflow: hidden;
}

.categories__elementScrolled {
    color: var(--primary-color);
}

.categories__element:hover {
    color: var(--secondary-color);
}

/* heroes */

.hero__container {
    position: relative;
}

.hero__container::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 95vh;
    
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url(https://www.regiopoliductos.com/wp-content/uploads/2019/09/back6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.hero__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
}

.hero__title span {
    font-size: 100px;
}

.hero__title h1 {
    font-size: 10rem;
    padding-left: 10px;
}

.hero__content {
    font-size: 3rem;
    text-align: left;
    width: 40%;
    padding-left: 15px;
    margin-left: 10vw;
    padding: 0;
}

.hero__button {
    margin-top: 20px;
    margin-left: 10vw;

    width: 400px;
    height: 60px;

    font-size: 1.8rem;
}

/* about us */

.aboutUs__mobile {
    display: none;
}

.aboutUs__desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 180px 0;
}

/* first half */

.aboutUs-desktop__firstHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 10vw;
    padding-right: 1vw;
    width: 50vw;
    height: 100%;
}

.aboutUs-desktop__firstHalf .aboutUs__mainImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.aboutUs-desktop__firstHalf .aboutUs__mainImage h1 {
    padding-top: 0;
    padding-left: 15px;
}

.aboutUs-desktop__firstHalf .aboutUs__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
    height: 100%;
    padding: 0;    
}

.aboutUs-desktop__firstHalf .aboutUs__text h1 {
    text-align: left;
    padding: 0;
    margin-top: 20px;
}

.aboutUs-desktop__firstHalf .aboutUs__text p {
    text-align: justify;
    padding: 0;
    margin-top: 20px;
}

.aboutUs-desktop__firstHalf .aboutUs__button {
    margin-top: 20px;
    margin-left: 0;
    width: 350px;
    height: 45px;
    font-size: var(--font-content-size);
    margin: 0;
    margin-top: 20px;
}

/* second half */

.aboutUs-desktop__secondHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10vw;
    padding-left: 1vw;
    width: 50vw;
    height: 100%;
}

.aboutUs-desktop__secondHalf .aboutUs__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
}

.aboutUs-desktop__secondHalf .aboutUs__gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* proveedores */

.proveedores__mobile {
    display: none;
}

.proveedores__desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}

.proveedores__desktop .proveedores__mainImage {
    margin-top: 0;
}

.proveedores__desktop .proveedores__mainImage p {
    width: 80%;
}

.proveedores__gallery {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    width: 80%;
    height: 100%;
    margin-top: 40px;
}

.proveedores__gallery img {
    display: flex;
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
}

/* projects desktop */

.projects__desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 180px 0;
}

.projects__mobile { display: none; }

.projects__mainImage {padding: 0;}

.projects__desktop .projects__mainImage h1 {
    width: 90%;
}

.projects__desktop .projects__gallery {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: auto;
    height: 100%;
    margin-top: 40px;
}

.slider__article {
    margin: 0;
}

.projects__desktop .slider__article {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 322px;
    height: 237px;
    border-radius: 20px;
    align-self: center; justify-self: center;
}

.projects__button {
    margin-bottom: 0;
}

/* locations-products */

.locations {
    display: none
}

.products {
    display: none
}

.locations-products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.locations-products__firstHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.locations-products__firstHalf .locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.locations-products__secondHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.locations-products__secondHalf .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* catalogos-blog */

.catalogos {
    display: none
}

.blog {
    display: none
}

.catalogos-blog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.catalogos-blog__firstHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.catalogos-blog__firstHalf .catalogos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.catalogos-blog__firstHalf .catalogos__content {
    margin-left: 0;
    margin-top: 10px;
}

.catalogos-blog__secondHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--justWhite);
}

.catalogos-blog__secondHalf .blog {
    background-color: var(--justWhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* footer */

footer {
    background-color: #101338;
}

.footer__mobile { display: none; }

.footer__desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    padding-bottom: 20px;
}

.footer-desktop__firstHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.footer-desktop__firstHalf .footer__logoSlogan {
    margin: 0;
}

.footer-desktop__firstHalf .footer__logoSlogan p {
    width: 50%;
}

.footer-desktop__secondHalf {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

.footer-desktop__secondHalf .footer__legal {
    width: auto;
    align-items: flex-end;
}