:root {
    --primary-color: #373981;
    --secondary-color: #0CA89E;
    --tertiary-color: #085C57;

    --yellowMine: #FBFFD0;
    --orangeUrban: #FFC9B0;
    --blueWater: #B0E0FF;
    --greenCrop: #B0FFC9;
    --justWhite: #FFFFFF;

    /* fonts size */

    --font-size-xxs: 1.2rem;
    --font-size-xs: 1.4rem;
    --font-size-s: 1.6rem;
    --font-size-m: 1.8rem;
    --font-size-l: 2rem;
    --font-size-xl: 2.2rem;
    --font-size-xxl: 2.4rem;

    --font-title-size: 3.2rem;
    --font-subtitle-size: 2.4rem;
    --font-content-size: 1.6rem;

    /* random */

    --edge-components-margin: 90px
}

* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
    
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#inactive {
    display: none;
}

.inactive { display: none; }

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100vw;
    display: flex;
    position: -webkit-sticky;
    position: fixed;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.0);
    z-index: 100;
}

.nav__scrolled {
    background-color: rgba(255,255,255);
}

.nav__scrolledIcon span {
    color: black;
}

/* logo and shit */

.navLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 95vh;
    background-image: url(./assets/images/mines_hero.jpg);
    background-size: cover;
    color: white;
}

.hero a {
    position: absolute;
    left: calc(50% - 120px);
    top: 92vh;
    display: block;

    padding: 15px;

    width: 229px;
    height: 48px;
    background-color: var(--justWhite);

    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 15px;

    font-size: var(--font-content-size);
    font-weight: bold;
    text-align: center;

    text-decoration: none;

    color: black;

}

.hero__container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__img img {
    width: 84px;
    height: auto;
}

.navDotMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: white;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-content-size);
    text-align: center;
    font-weight: bold;
    width: 241px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid;
}

/*  slideshow styles */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
}

.dot__active {
    height: 25px;
    width: 25px;
}

.dot__row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* styles for mines hero */

.mines {display: flex;}

.text__mines h1 {
    font-size: var(--font-title-size);
    color: var(--yellowMine);
    font-variant: small-caps;
}

.text__mines p {
    font-size: var(--font-content-size);
    color: var(--justWhite);
    padding: 32px 80px;
}

.button__mines {
    color: var(--yellowMine);
    border-color: var(--yellowMine);
}

.dot__mine {
    background-color: var(--yellowMine);
}

/* styles for urban hero */

.urban {display: flex;}

.text__urban h1 {
    font-size: var(--font-title-size);
    color: var(--orangeUrban);
    font-variant: small-caps;
}

.text__urban p {
    font-size: var(--font-content-size);
    color: var(--justWhite);
    padding: 32px 80px;
}

.button__urban {
    color: var(--orangeUrban);
    border-color: var(--orangeUrban);
}

.dot__urban { 
    background-color: var(--orangeUrban)
}

/* styles for aguas hero */

.water {display: flex;}

.text__water h1 {
    font-size: var(--font-title-size);
    color: var(--blueWater);
    font-variant: small-caps;
}

.text__water p {
    font-size: var(--font-content-size);
    color: var(--justWhite);
    padding: 32px 80px;
}

.button__water {
    color: var(--blueWater);
    border-color: var(--blueWater);
}

.dot__water {
    background-color: var(--blueWater);
}

/* styles for crop hero */

.crop {display: flex;}

.text__crop h1 {
    font-size: var(--font-title-size);
    color: var(--greenCrop);
    font-variant: small-caps;
}

.text__crop p {
    font-size: var(--font-content-size);
    color: var(--justWhite);
    padding: 32px 80px;
}

.button__crop {
    color: var(--greenCrop);
    border-color: var(--greenCrop);
}

.dot__crop {
    background-color: var(--greenCrop);
}

/* about us */
.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs__mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
}

.aboutUs__mainImage img {
    width: 90px;
    height: auto;
}

.aboutUs__mainImage h1 {
    font-variant: small-caps;
    font-size: var(--font-title-size);
    font-weight: bold;
    color: var(--tertiary-color);
}

.aboutUs__text {
    padding: 21px 41px;
}

.aboutUs__text h1 {
    font-size: var(--font-subtitle-size);
    font-variant: small-caps;
    font-weight: 600;
    text-align: center;
    padding-bottom: 21px;
}

.aboutUs__text p {
    font-size: var(--font-content-size);
    text-align: justify;
}

.aboutUs__button {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--justWhite); 
    font-size: var(--font-content-size);
    font-weight: bold;

    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--primary-color);
    margin-bottom: 25px;
}

.aboutUs__slider {
    display: flex;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

    max-width: 100%;
}

.aboutUs__slider::-webkit-scrollbar {
    display: none;
}

.aboutUs__slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider__card {
    margin: 0 50%;
    position: relative;
    scroll-snap-align: center;
}

.slider__card img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 62px;
}

/* projects */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    /* overflow: hidden; */
    background-color: #171717;
}

.projects__mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.projects__mainImage img {
    width: 70px;
    height: auto;
}

.projects__mainImage h1 {
    font-variant: small-caps;
    font-size: var(--font-title-size);
    font-weight: bold;
    color: var(--justWhite);
    text-align: center;
    padding: 12px 40px;
}

.projects__slider {
    display: flex;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

    max-width: 100%;

    margin-top: 55px;
    margin-bottom: 55px;
}

.projects__slider::-webkit-scrollbar {
    display: none;
}

.projects__slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider__article {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 321px;
    height: 237px;
    border-radius: 20px;

    margin: 0 10px;

    position: relative;
    scroll-snap-align: center;
}

.slider__article p {
    color: var(--primary-color);
    background-color: white;
    border-radius: 0 0 20px 20px;
    border: 2px solid var(--justWhite);
    font-variant: small-caps;
    font-size: 1.8rem;
    font-weight: bold;

    padding: 10px 20px;
}

.slider__article img {
    max-width: 100%;
    max-height: 80%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

/* locations */

.locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--justWhite);
}

.locations__mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 91px;
}

.locations__mainImage h1 {
    font-size: var(--font-title-size);
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
    padding: 0 70px;
    color: var(--tertiary-color);
}

.locations__text {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
}

.locations__text h1 {
    text-align: center;
    font-size: var(--font-subtitle-size);
    font-weight: 500;
}

.locations__text p {
    font-size: var(--font-size-l);
    text-align: center;
    font-weight: bold;
    margin-top: 18px;
}

.locations__text #link {
    font-size: var(--font-size-xs);
    text-align: center;
    color: var(--tertiary-color);
}

.locations__button {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 228px;
    height: 40px;
    background-color: #88E3DE;
    border-radius: 10px;

    margin-top: 42px;
    margin-bottom: 91px;
}

.locations__button p {
    color: black;
    text-align: center;
    font-size: var(--font-content-size);
    font-weight: bold;
}

.locations__contact {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.locations__contact a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

/* blog */

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9F8F8;
}

.blog__mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
}

.blog__mainImage p {
    color: var(--tertiary-color);
    font-size: var(--font-title-size);
    margin-top: 35px;
    font-variant: small-caps;
    font-weight: bold;
    padding: 0 63px;
    text-align: center;
}

.blog__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 228px;
    height: 43px;
    background-color: var(--primary-color);
    border-radius: 10px;

    margin-top: 42px;
    margin-bottom: 91px;
}

.blog__button p {
    color: var(--justWhite);
    text-align: center;
    font-size: var(--font-content-size);
    font-weight: bold;
}

/* proveedores */

.proveedores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1F2FF;
}

.proveedores__mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.proveedores__mainImage p {
    color: var(--tertiary-color);
    font-size: var(--font-title-size);
    margin-top: 13px;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}

.proveedores__slider {
    display: flex;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

    max-width: 100%;

    margin-top: 75px;
    margin-bottom: 60px;
}

.proveedores__slider::-webkit-scrollbar {
    display: none;
}

.proveedores__slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.proveedores_slider_article {
    display: flex;
    position: relative;
    scroll-snap-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 25%;
}

.proveedores_slider_article img {
    width: 200px;
    height: auto;
}

/* products */
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1F2FF;
}

.products__mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: var(--edge-components-margin);
    margin-right: 30px;
    margin-left: 30px;
}

.products__mainImage p {
    padding-left: 10px;
    font-size: var(--font-title-size);
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    color: var(--tertiary-color);
    font-variant: small-caps;
}

.products__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.item__image {
    max-height: 70%;
    background-color: white;
    border-radius: 20px;
}

.item__image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.item__text {
    max-height: 30%;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: var(--font-content-size);
    text-align: center;
}

#item__model {
    font-weight: bold;
    color: var(--tertiary-color);
}

.products__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 228px;
    height: 43px;
    background-color: var(--primary-color);
    color: var(--justWhite);
    font-size: var(--font-content-size);
    font-weight: bold;
    border-radius: 10px;

    margin-top: 40px;
    margin-bottom: var(--edge-components-margin);
}

/* catálogos */

.catalogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.catalogos__mainImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 35px;

    padding: 0 35px;

}

.catalogos__mainImage p {
    color: var(--justWhite);
    font-size: var(--font-title-size);
    font-variant: small-caps;
    font-weight: bold;

    padding-left: 20px;
}

.catalogos__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    margin-left: 37px;
    margin-left: 37px;
}

.catalogos__content a {
    color: var(--justWhite);
    font-size: var(--font-content-size);
    text-align: left;
    margin-top: 10px;
}

.catalogos__content p {
    margin-top: 10px;
}

.catalogos__content li {
    color: var(--justWhite);
}

.catalogos__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 248px;
    max-height: 63px;
    background-color: var(--justWhite);
    color: var(--primary-color);
    text-align: center;
    font-size: var(--font-content-size);
    font-weight: bold;
    border-radius: 10px;

    margin-top: 40px;
    margin-bottom: 91px;
    padding: 5px 0;
}

/* footer */

footer {
    background-color: #101338;
}